[Desktop Entry]
Version=1.0
Name=Calendar
StartupWMClass=google-calendar
Exec=/usr/bin/google-chrome-stable --app=https://calendar.google.com %U
Terminal=false
Icon=google-chrome
Type=Application
