[Desktop Entry]
Version=1.0
Name=Whatsapp
StartupWMClass=whatsapp
Exec=/usr/bin/google-chrome-stable --app=https://web.whatsapp.com %U
Terminal=false
Icon=google-chrome
Type=Application
